<a href="https://colab.research.google.com/github/deleayobankole/deleayobankole/blob/main/MorePythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=15
b=25
c=a+b
print (c);

40

In [ ]:
x=7;
y=x**3;
print (y);

343

In [ ]:
x = "Hello World!"
print(x[-6])

W

In [ ]:
'Hello'

'Hello'

In [ ]:
"Hello"

'Hello'

In [ ]:
s = "Python is easy to learn"
print(s[17:])

 learn

In [ ]:
first_name = "abc";
last_name = "xyz";

#Hello abc xyz! You just delved into python

print('Hello' + " " + first_name + " " + last_name + "! " + "You just delved into python" )

Hello abc xyz! You just delved into python

In [ ]:
items = ["Ade", "Tifedayo", 37, 1.98, "Yemisi"];
print(items)

['Ade', 'Tifedayo', 37, 1.98, 'Yemisi']

In [ ]:
print(items[2])

37

In [ ]:
items.insert(1,"Daystar")
print(items)

['Ade', 'Daystar', 'Tifedayo', 37, 1.98, 'Yemisi']

In [ ]:
bathroom=["Soap","Detergent","Toothpaste","Shaving stick"]
grocery = items + bathroom
print(grocery);

['Ade', 'Daystar', 'Tifedayo', 37, 1.98, 'Yemisi', 'Soap', 'Detergent', 'Toothpaste', 'Shaving stick']

In [ ]:
#Python Assignment
#Create a list to store monthly expenses
expenses = [2200, 2350, 2600, 2130, 2190]
print(expenses);

[2200, 2350, 2600, 2130, 2190]

In [ ]:
# 1. How many extra dollars did you spend in February compared to January?
print(expenses[1])

2350

In [ ]:
extra = (expenses[1] - expenses[0])
print(extra)

150

In [ ]:
# 2. Total expense in the first quarter of the year
total = (expenses[0] + expenses[1] + expenses[2])
print(total)

7150

In [ ]:
# 3. Find out if you spent exactly 2000 dollars in any month
2000 in expenses

False

In [20]:
expenses = [2200, 2350, 2600, 2130, 2190]
print(expenses)

[2200, 2350, 2600, 2130, 2190]

In [21]:
# 4. Your June expense is $1980. Add this to your list
expenses.append(1980)
print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

In [22]:
# 5. You got a refund of $200 in April, update your list to refelct this change
apr = (expenses[3]-200)
print(apr)

1930

In [23]:
expenses=[2200,2350,2600,1930,2190,1980]
print(expenses)

[2200, 2350, 2600, 1930, 2190, 1980]

Practice Test 3 from DPhi

In [27]:
t = (4, 4, 5, 3, 4, 2, 5, 6)
print(t.count(4))

3

In [30]:
def timemachine(tmc):
  result = tmc * 250;
  print(result)

timemachine(50)

12500

In [31]:
timemachine(1000)

250000

In [1]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pow(5,3)

125.0

In [6]:
import calendar
cal = calendar.month(1984,10)
print(cal)

    October 1984
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [7]:
test = round(90.589, 1)
print(test)

90.6

In [8]:
apartments =          [
                       {'ID': '19665213.0', 'Overall Rating': '100.0', 'Price': 26.0},
                       {'ID': '6436842.0', 'Overall Rating': '90.0', 'Price': 41.0},
                       {'ID': '10559468.0', 'Overall Rating': '100.0', 'Price': 50.0},
                       {'ID': '27215482.0', 'Overall Rating': '100.0', 'Price': 50.0},
                       {'ID': '27287546.0', 'Overall Rating': '90.0', 'Price': 55.0}
                      ]
print(apartments[4]['Overall Rating'])

90.0